{% load static %}
<div class="obj-info">
  <div class="obj-info__head flex-ai-c">
    <img src="https://hst-api.wialon.com/avl_library_image/5/0/library/unit/s_g_6.svg" alt="" class="obj-icon" />
    <p class="work-list__obj-name obj__name obj-info__name">Бульдозер SD16 КМ113</p>
  </div>
  <div class="obj-info__text-wrap">
    <p class="obj-info__text">Последние данные:</p>
    <p class="obj-info__text mb10">09.11.2022 12:12 (1м 45с. назад)</p>
    <p class="obj-info__text">Местоположение:</p>
    <p class="obj-info__text">Зелёная Роща ул., Шеломки (1м 45с. назад)</p>
  </div>
  <ul class="obj-info__counters counter flex-c-sb">
    <li class="counter__item">
{#      <div class="icon icon--speed"></div>#}
      <div class="counter__text-wrap">
        <p class="obj-info__text">Скорость:</p>
        <p class="obj-info__text">15 км/ч</p>
      </div>
    </li>
    <li class="counter__item">
{#      <div class="icon icon--clock"></div>#}
      <div class="counter__text-wrap">
        <p class="obj-info__text">Моточасы:</p>
        <p class="obj-info__text">6444 ч</p>
      </div>
    </li>
    <li class="counter__item">
{#      <div class="icon icon--road"></div>#}
      <div class="counter__text-wrap">
        <p class="obj-info__text">Пробег:</p>
        <p class="obj-info__text">15 км/ч</p>
      </div>
    </li>
    <li class="counter__item">
{#      <div class="icon icon--satellite"></div>#}
      <div class="counter__text-wrap">
        <p class="obj-info__text">Спутники:</p>
        <p class="obj-info__text">12</p>
      </div>
    </li>
    <li class="counter__item">
{#      <div class="icon icon--target"></div>#}
      <div class="counter__text-wrap">
        <p class="obj-info__text">Координаты:</p>
        <p class="obj-info__text">56.7974,</p>
        <p class="obj-info__text">94.8666</p>
      </div>
    </li>
  </ul>
  <div class="obj-info__block">
    <p class="obj-info__title">Настройки подключения</p>
    <ul class="obj-info__list">
      <li class="obj-info__item">
        <p class="obj-info__text"><strong>Тип устройства: </strong>Navtelecom Signal S-26xx</p>
      </li>
      <li class="obj-info__item">
        <p class="obj-info__text"><strong>Уникальный ID: </strong>866854054445682</p>
      </li>
      <li class="obj-info__item">
        <p class="obj-info__text"><strong>Телефон: </strong>+79293088656</p>
      </li>
    </ul>
  </div>
  <div class="obj-info__block">
    <p class="obj-info__title">Датчики</p>
    <div class="obj-info__wrap">
      <ul class="obj-info__list obj-info__list--separ">
        <li class="obj-info__item">
          <p class="obj-info__text"><strong>Напр. бортовой сети: </strong>28.4 В</p>
        </li>
        <li class="obj-info__item">
          <p class="obj-info__text"><strong>Пробег: </strong>153 км</p>
        </li>
        <li class="obj-info__item">
          <p class="obj-info__text"><strong>Зажигание: </strong>Включено</p>
        </li>
      </ul>
      <ul class="obj-info__list">
        <li class="obj-info__item">
          <p class="obj-info__text"><strong>Напр. батарейки: </strong>4.4 В</p>
        </li>
        <li class="obj-info__item">
          <p class="obj-info__text"><strong>Уровень сигнала: </strong>Высокий</p>
        </li>
        <li class="obj-info__item">
          <p class="obj-info__text"><strong>Топливо: </strong>207.66 л</p>
        </li>
      </ul>
    </div>
  </div>
</div>
