{% load static %}
<header class="header">
  <a href="./index.html" class="header__logo">
    <img src="{% static 'dist/images/m2m_logo.svg' %}" alt="M2MSMT logo" class="header__img">
  </a>
  <nav class="nav" id="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="nav/list/" class="nav__link" data-page="home">
          <span class="nav__icon nav__icon--satellite"></span>
          Мониторинг
        </a>
      </li>
      <li class="nav__item">
        <a href="nav/track/" class="nav__link" data-page="track">
          <span class="nav__icon nav__icon--track"></span>
          Трек
        </a>
      </li>
    </ul>
  </nav>
</header>

<script>

</script>