@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  font-weight: 400;
  color: $--color-glaucous;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  margin: 0;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.main {
  display: flex;
}