/* === Colors */
$--color-white: #fff;
$--color-silver: #efefef;
$--color-lightBlue: #d5e1f5;
$--color-gray: #c9c9c9;
$--color-alto: #dbdbdb;
$--color-jet: #333;
$--color-black: #000;
$--color-glaucous: #5081ba;
$--color-yaleBlue: #0965a1;
$--color-indigo: #284669;
$--color-green: #50B953;
$--color-red: #c5181b;
$--color-error: #fb8e31;
$--color-citrine: #f5f045;
